

<div class="trainings-container">
    <h2> Applied Training Requests</h2>
     <hr class="line">
     <div class="search-bar">
         <input type="text" name="serachInput" id="searchInput" placeholder="Search..." [(ngModel)]="searchQuery" (input)="searchTrainings()">
     </div>
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>Training Name</th>
                <th>Request Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let training of filteredTrainings| paginate: { itemsPerPage: 6, currentPage: page }; let i = index">
                <td>{{i+1 + (page - 1) * 6}}</td>
                <td>{{ training.PhysicalTraining.TrainingName }}</td>
                <td>{{ training.RequestDate | date:'yyyy-MM-dd' }}</td>
                <td>{{ training.Status }}</td>
                <td>
                    <button class="redButton" (click)="openDialog(training)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

    <p id="noRecordsFound" style="display:none;">Oops! No records found</p>
    
    <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show':isDialogueOpen}" aria-labelledby="profileModalLabel" style="display: block;" *ngIf="isDialogOpen">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body text-center" style="font-family: 'Gilroy-Medium',sans-serif;">
              <p><strong>Are you sure you want to delete ?</strong></p>
            </div>
            <div class="modal-footer">
              <button (click)="confirmDelete()">Yes, Delete</button>
              <button type="button" class="btn btn-danger" (click)="closeDialog()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    
</div>



