/* Global Styles */
body {
  font-family: 'Lobster', cursive;
  background: linear-gradient(to right, #f9f9f9, #e3e3e3);
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.trainings-container {
  padding: 0px 50px;
  font-family: Arial, sans-serif;
}

.trainings-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.search-bar {
  margin-bottom: 15px;
  text-align: left;
}

.search-bar input {
  padding: 8px 10px;
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

th,
td {
  padding: 12px 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 14px;
}

thead {
  background-color: #326c9d;
  color: white;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.line {
  margin: 10px 0;
  /* Adds one line space (10px top and bottom) */
  border: 0;
  height: 1px;
  box-shadow: 0px 0px 1px 0px;
  background-color: #326c9d;
}


.greenButton {
  background: #1fb71f;
  border: none;
  padding: 5px 13px;
  color: white;
  cursor: pointer;
  margin-bottom: 4px;
  border-radius: 4px;
}

.redButton {
  background-color: red;
  border: none;
  padding: 5px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.greenButton:hover {
  background-color: #169c16;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.redButton:hover {
  background-color: darkred;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.paging {
  text-align: center;
  position: relative;
  right: 20px;
}

/* Dialog Styling */
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 9999;
}

.dialog-dialog {
  position: fixed;
  /* Change from absolute to fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Center the modal */
  background: #fff;
  padding: 20px 40px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  max-height: 80%;
  overflow-y: auto;
  /* Add scroll if content is too tall */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dialog-content {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dialog-body p {
  margin: 10px 0;
  font-size: 16px;
}

.dialog-footer {
  display: flex;
  width: 40%;
  justify-content: space-around;
  gap: 10px;
  margin-top: 20px;
}

.dialog-footer button {
  width: auto;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.dialog-footer button:first-child {
  background-color: #e74c3c;
  color: #fff;
}

.dialog-footer button:last-child {
  background-color: #95a5a6;
  color: #fff;
}

#noRecordsFound {
  text-align: center;
  font-size: 18px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}