<div>
    <h1 class="feedback-heading">Add Feedback</h1>
</div>
<div class="feedback-container">
    <div>
        <form #feedbackForm="ngForm" (ngSubmit)="addFeedback()">
            <div>
                <label class="feedback-label" for="FeedbackText">Feedback <span class="error">*</span></label>
                <textarea type="FeedbackText" id="FeedbackText" name="FeedbackText"
                    [(ngModel)]="newFeedback.FeedbackText" class="feedback-textarea" required></textarea>
                <div *ngIf="formSubmitted && !newFeedback.FeedbackText" class="error">
                    *Feedback is required
                </div>
            </div>

            <button class="feedback-submit" type="submit">Submit</button>
        </form>
    </div>
</div>

<div *ngIf="isUserDialogOpen" class="dialog">
    <div class="dialog-content">
        <p><b>Successfully Added!</b></p>
        <button class="btn-primary" (click)="closeDialog()">OK</button>
    </div>
</div>